h1{
    text-align: center;
}
.kucica{
    text-align: center;
    border: 3px solid green;
    padding: 20px;
}
.button{
    padding: 10px;
    margin-left: 10px;
}
.text1{
    margin-right: 10px;
}
.input1{
    margin-right: 10px;
}
.text2{
    margin-right: 10px;
}